/* Positioning */

* {
   box-sizing: border-box;
}
  

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}

body {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("aseets/eoliene2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 100%;
  margin: 0 auto;
}

.content {
  border-top: 1px solid hsla(0, 0%, 30%, 1);
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 50px;
  text-align: justify;
}

/* Profile image */

.profile-image {
  margin-top: 10px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
}

img:hover {
  filter: grayscale(20%);
  transform: scale(1.2);
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, 0.8) 10px 10px 80px;
}



